@charset "UTF-8";
.header {
  height: 65px;
  margin: 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 4rem;
}

.header__brand img {
  height: 3.2em;
  margin: auto;
  padding-left: 3rem;
}

.header__button {
  margin: 0.333333rem;
}

.header__button:last-child {
  display: none;
}

.main {
  background-image: url(https://dogfydiet.com/images/intro_mobile_2.jpg);
  background-size: cover;
  background-position: 40% -2em;
  background-repeat: no-repeat;
  height: calc(100vh - 8.5rem);
}

.main__container {
  padding-top: 4rem;
  display: block;
  color: #3d3d3d;
  height: 40vh;
}

.main__title {
  padding: 0 3rem;
  font-weight: 700;
  font-size: 2.2em;
  letter-spacing: 0.1rem;
  line-height: 1.2;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.main__info {
  text-align: center;
  margin-bottom: 0.75rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.main__info span::after {
  content: '・';
}

.main__btn-container {
  height: 22vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trust-section {
  text-align: center;
  margin: 0;
}

.trust-section__logo {
  width: 5rem;
}

.trust-section p {
  margin: 10px 0 0;
}

.trust-section__image-container {
  background-image: url(../img/natural_food_img_mobile_raw.jpg);
  background-size: cover;
  margin-top: 10px;
  height: 70vh;
  width: 100%;
}

.food-info__title {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.7em;
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #2d2d2d;
  margin-bottom: 0.5rem;
}

.food-info__text {
  text-align: center;
  margin: 0 2rem;
  font-weight: 400;
  line-height: 1.5rem;
  font: inherit;
}

.food-info__text span {
  color: #ec8c6c;
}

.food-info__grid {
  display: -ms-grid;
  display: grid;
  margin: 2rem 1rem 1rem;
  text-align: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.food-info__grid-item {
  margin: 1rem;
  position: relative;
}

.food-info__grid-img {
  position: relative;
  height: 4em;
}

.food-info__grid-title {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.food-info p:last-child {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;
}

.how {
  background: #f7f3f1;
  position: relative;
}

.how__title {
  text-align: center;
  padding: 3rem 0 1rem;
  margin: auto;
  line-height: 2.5rem;
  font-size: 2.0736rem;
}

.how__wrapper {
  padding-left: 1rem;
}

.how__wrapper::before {
  content: "";
  background: #ec8c6c;
  position: absolute;
  width: 2px;
  height: 54%;
  top: 25%;
  left: 31px;
}

.how__item {
  display: -ms-grid;
  display: grid;
  grid-gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 9fr;
      grid-template-columns: 1fr 9fr;
  position: relative;
}

.how__number {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ec8c6c;
  border: none;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .8333333333rem;
  font-weight: 700;
  height: 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 32px;
}

.how__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 0;
}

.how__img {
  height: 4em;
}

.how__text-container {
  width: calc(100% - 100px);
  padding-top: 3rem;
  padding-right: 1rem;
  margin: auto;
}

.how__text {
  padding: 0;
  margin-bottom: 0.5rem;
  text-align: left;
}

.how__text--bold {
  padding: 0;
  font-weight: 700;
  font-family: Montserrat,"Sans-Serif";
}

.menu {
  height: 100%;
  position: relative;
}

.menu__title {
  text-align: center;
  padding: 3rem 0 1rem;
  margin: auto;
  line-height: 2.5rem;
  font-size: 2.0736rem;
}

.menu__paragraph {
  padding: 0 2rem;
  text-align: center;
}

.menu__grid {
  display: -ms-grid;
  display: grid;
  place-items: center;
  place-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 1rem 9rem 2rem;
}

.menu__griditem {
  text-align: center;
  border-radius: 12px;
  -webkit-box-shadow: 0 2px 4px 2px #8a8989;
          box-shadow: 0 2px 4px 2px #8a8989;
}

.menu__link {
  text-decoration: none;
}

.menu__img {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
  height: 50%;
}

.menu__ingredient {
  text-transform: none;
  text-align: left;
  margin-left: 1rem;
  margin-top: 0.5rem;
  font-size: 1.44rem;
  position: relative;
  font-family: Montserrat,"Sans-Serif";
}

.menu__description {
  text-align: left;
  margin-left: 1rem;
  width: 10em;
}

.menu__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  padding: 0.5rem 0.5rem 1rem;
  place-items: center;
  place-content: center;
}

.menu__icon {
  height: 2.2rem;
}

.footer {
  background-color: #ec8c6c;
}

.footer__container {
  max-width: 1440px;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  color: #fff;
  padding: 0.9rem 0.9rem 0.9rem 2rem;
  color: #fff;
}

.footer__info {
  line-height: 2.5rem;
}

.footer__heading {
  color: #fff;
  font-size: .8333333333rem;
  text-transform: none;
  font-family: Montserrat,"Sans-Serif";
  font-weight: 700;
}

.footer__link {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: .8333333333rem;
}

.footer__icon {
  vertical-align: middle;
}

.footer__schedule {
  display: inline;
  padding-right: 0;
}

.footer__socials {
  text-align: center;
}

.footer__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1rem;
}

.footer__social-icons {
  padding: 0 0.6rem;
  height: 1.5rem;
  cursor: pointer;
}

.footer__terms {
  font-size: .8333333333rem;
  padding: 1rem 0;
}

.newspaper {
  background: #6c6c6c;
}

.newspaper__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  padding: 1rem;
  text-align: center;
  max-width: 1440px;
  margin: auto;
}

.newspaper__content {
  padding: 1rem;
}

.newspaper__content a {
  text-decoration: none;
}

.newspaper__img {
  height: 60px;
  width: 9em;
  -o-object-fit: contain;
     object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
}

.newspaper__description {
  color: #fff;
  font-size: .8333333333rem;
  text-align: center;
}

* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.button {
  border-radius: 6px;
  min-width: 3rem;
  height: 2.5rem;
  border: none;
  padding: 0.3rem 1rem;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8rem;
}

.button-start {
  font-family: Open Sans,"Sans-Serif";
  font-weight: 700;
  min-width: 3rem;
  max-width: 8rem;
  border-radius: 6px;
  color: #fff;
  background-color: #ec8c6c;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  line-height: 1.5;
  font-size: .8rem;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  cursor: pointer;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 0.6666666667rem 1rem;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin: 1rem auto;
}

.nav-btn-color-1 {
  background-color: #699b9b;
}

.main-btn-color {
  background-color: #ec8c6c;
}
/*# sourceMappingURL=styles.css.map */