@import 'variables';
@import 'mixin';
@import 'header';
@import 'main';
@import 'footer';
@import 'newspaper';

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

// Clases auxiliares
.button{
    border-radius: 6px;
    min-width: 3rem;
    height: 2rem;
    border: none;
    padding: 0.3rem 1rem;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px ;
    font-size: 0.8rem;
}

.button-start{
    font-family: Open Sans,"Sans-Serif";
    font-weight: 700;
    min-width: 3rem;
    max-width: 8rem;
    border-radius: 6px;
    color: #fff;
    background-color: #ec8c6c;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 1.5;
    font-size: .8rem;
    transition-property: all;
    transition-duration: .25s;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0.6666666667rem 1rem;
    margin: 1rem;
    display: flex;
    white-space: nowrap;
    margin: 1rem auto;
}

.nav-btn-color-1{
    background-color: #699b9b;

}
.main-btn-color{
    background-color: #ec8c6c;
}